.logo {
  width: 100px; 
  opacity: 0.5; 
}

.logo-container {
  position: fixed;
  top: 10px; 
  right: 10px; 
  width: 100px; 
}

.centered-chunk {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  text-align: center;
}

.login-form {
  display: flex; 
  align-items: center; 
}
.register-form {
  display: flex; 
  align-items: center; 
}

.inputs-container {
  display: flex;
  flex-direction: column; 
  margin-right: 2px; 
}

input {
  padding: 2px 4px;
  margin-bottom: 2px; 
}

.login-button {
  background-color: #007bff; 
  color: white; 
  padding: 12px 8px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.2s; 
  margin-right: 10px;
}
.logout-button {
  margin-top: auto; 
  background-color: transparent;
  color: black; 
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.text-link {
  display: inline;
}
.link-button:hover {
  background-color: #0056b3; 
}

.container {
  display: flex;
  height: 100vh; 
}

.left-column, .center-column, .right-column {
  display: flex;
  flex-direction: column;
}

.left-column {
  flex: 2; 
  background-color:#7a90a8
}

.center-column {
  flex: 6; 
  background-color:#c4ddf1
}

.right-column {
  flex: 1; 
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.sending-box{
  position: fixed;
  bottom: 0;
}
.message-input{
  color: white;
}
.send-button{
  color: gray;
}

.logout-container {
  padding: 10px; /* Adjust padding as needed */
  margin-top: auto; /* This pushes the logout container to the bottom if right-column is a flex container */
  width: 100%; /* Ensures it takes the full width of its parent container */
  display: flex;
  justify-content: center; /* Center the logout button horizontally */
  align-items: center; /* Center the logout button vertically if needed */
  background: transparent; /* or any color/background you want */
}

.btn {
  background-color: #e6e5ea;
  border: none;
  outline: none;
  cursor: pointer;
  width: 320px;
  height: 47px;
  line-height: 47px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);
  display: flex;
  padding: 0;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #c4ddf1;
  color: black;
  transform: scale(1.02);
}
.btn #plus-sign {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  border-right: 1px solid #ebe7fb;
}
.btn span {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

